# **N으로 표현**
**문제설명**

아래와 같이 5와 사칙연산만으로 12를 표현할 수 있습니다.

12 = 5 + 5 + (5 / 5) + (5 / 5)
12 = 55 / 5 + 5 / 5
12 = (55 + 5) / 5

5를 사용한 횟수는 각각 6,5,4 입니다. 그리고 이중 가장 작은 경우는 4입니다.
이처럼 숫자 N과 number가 주어질 때, N과 사칙연산만 사용해서 표현 할 수 있는 방법 중 N 사용횟수의 최솟값을 return 하도록 solution 함수를 작성하세요.

## **제한사항**

*   N은 1 이상 9 이하입니다.
*   number는 1 이상 32,000 이하입니다.
*   수식에는 괄호와 사칙연산만 가능하며 나누기 연산에서 나머지는 무시합니다.
*   최솟값이 8보다 크면 -1을 return 합니다.

**입출력 예**

![화면 캡처 2022-10-03 221901.png]()

**입출력 예 설명**

예제 #1
문제에 나온 예와 같습니다.

예제 #2
11 = 22 / 2와 같이 2를 3번만 사용하여 표현할 수 있습니다.

In [ ]:
#dynamic_programming
def operation(x, y, lst):
    a = lst[x - 1]
    b = lst[y - 1]
    for i in a:
        for j in b:
            lst[x+y-1].add(i+j)
            if i > j:
                lst[x+y-1].add(i-j)
                if i%j == 0:
                    lst[x+y-1].add(i//j)
            elif i < j:
                lst[x+y-1].add(j-i)
                if j%i == 0:
                    lst[x+y-1].add(j//i)
            lst[x+y-1].add(i*j)
    return lst

In [ ]:
def solution(N, number):
    lst = [set() for i in range(8)]
    lst[0].add(N)
    lst[1].add(11*N)
    lst[1].add(1)
    lst[2].add(111*N)
    lst[3].add(1111*N)
    lst[4].add(11111*N)
    lst[5].add(111111*N)
    lst[6].add(1111111*N)
    lst[7].add(11111111*N)
    operation(1, 1, lst)
    operation(1, 2, lst)
    operation(1, 3, lst)
    operation(2, 2, lst)
    operation(1, 4, lst)
    operation(2, 3, lst)
    operation(1, 5, lst)
    operation(2, 4, lst)
    operation(3, 3, lst)
    operation(1, 6, lst)
    operation(2, 5, lst)
    operation(3, 4, lst)
    operation(1, 7, lst)
    operation(2, 6, lst)
    operation(3, 5, lst)
    operation(4, 4, lst)
    if number in lst[0]:
        answer = 1
    elif number in lst[1]:
        answer = 2
    elif number in lst[2]:
        answer = 3
    elif number in lst[3]:
        answer = 4
    elif number in lst[4]:
        answer = 5
    elif number in lst[5]:
        answer = 6
    elif number in lst[6]:
        answer = 7
    elif number in lst[7]:
        answer = 8
    else:
        answer = -1
    return answer